<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{120,0},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{160,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e86e327b86a35136c4bba45b7c8526a:24fd70e23709ce6cac19d7dff6df11b7:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
